<p class="text-center" style="font-size:22px"><i class="fas fa-envelope-square"></i> {{ email }}</p>
<p class="text-center" style="font-size:22px"><i class="fab fa-facebook"></i> <a href="{{ facebook }}">Contactez nous par facebook</a></p>