{% extends 'base.html.twig' %}
{% block title %}Historique{% endblock %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

	<div class="jumbotron">
            <div class="col-md-4 offset-md-4">
                    <h1>Demande de retrait</h1>
                    {% if message %}
                        <p>{{ message }}</p>
                    {% endif %}
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button type="submit" class="btn btn-primary">Demmander</button>
                    {{ form_end(form) }}
                </div>
    </div>

{% endblock %}